.vscode/**
.vscode-test/**
out/**
.git/**
.github/**
tests/**
test_samples/**
config/**
.cursor/**
virtualenv/**
.venv/**
.python-local/**
.python-path
.python-path.backup
.uv-path
**/__pycache__/**
**/*.pyc
**/.DS_Store
**/~/**
~/**
**/*.log
**/*.map
*.vsix